
html, body, canvas {
    border: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family: "Muli", helvetica;
    background-color: rgb(230, 240, 255);
    overflow-x:hidden;
}

#initBtn {
	position:absolute;
	align-content: center;
	left:48%;
	top:35%;
	outline:none;
	background-color: rgb(230, 240, 255);
	color: white;
	border: solid;
	border-color:#3385ff;
	border-radius:20%;
	border-style: dashed;
	width:5%;
	padding:4px 3px;
	font-size: 1em;
	font-family: helvetica;
	cursor:pointer;
}

#initBtn:hover {
	border-color:#3385ff;
	border-radius:20%;
	border-style: solid;
}

#selectArea {
	position:absolute;
	align-content: center;
	left:45%;
	top:30%;
    padding: 20px 15px 15px 15px;
    border: solid;
	border-color:#3385ff;
	border-radius:20%;
	border-style: dashed;
    outline: none;

    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

/*#selectionGuide {
	position: relative;
	left: -20px;
	color: rgb(128, 128, 128);
}

#clickGuide {
	position: relative;
	left: -37px;
	color: rgb(128, 128, 128);
}*/

a {
	text-decoration: none;
	margin: 10px;
	cursor: pointer;
}

.disabled {
	pointer-events: none !important;
}

a, a:focus{
    outline: 0 !important;
    border:0 none !important;
}

button {
	font-size: 0.7em;
	font-family: "Muli", helvetica;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: rgb(128, 128, 128);
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: rgb(128, 128, 128);
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: rgb(128, 128, 128);
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: rgb(128, 128, 128);
}

#msgArea {
	position: absolute;
	align-content: center;
	left: 25%;
	top: 2%;
	width: 50%;
	height: 95%;
	border-style: solid;
	border-color: rgb(230, 240, 255);
	border-radius: 5%;
	background-color: none;
	font-family: "Muli", helvetica;
}

img, a {
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    border: 0;
    outline: none;
}

#img-display {
	align-self: center;
	position: relative;
	left: 15%;
	top: 5%;  
	width:90%;
/*	height: 100%;*/
	max-width: 500px;
	max-height: 600px;
}

@media (max-width: 1400px) {
	#img-display {
		left: 10%;
	}
}

#msg-content {
	margin-top: 40px;
	margin-bottom: 5px;	
	margin-left: 19%;	
	width: 60%;
	height: 1.2em;
	font-size:1em;
	text-align: center;
	border: white solid;
	border-radius: 5%;
	border-width: 2px;
	background-color: rgba(255, 255, 255, 0.5);
	font-family: "Muli", helvetica;
}

#msg-content2 {
	margin: 5px 40px;
	margin-left: 19%;	
	width: 60%;
	height: 1.2em;
	font-size:1em;
	text-align: center;
	border: white solid;
	border-radius: 5%;
	border-width: 2px;
	background-color: rgba(255, 255, 255, 0.5);
	font-family: "Muli", helvetica;
}

#username {
	position: relative;
	left: 30%;
	top: 5px;
	height: 1.2em;
	text-align: center;
	font-size:1em;
	font-family: "Muli", helvetica;
	border: black solid;
	border-radius: 5%;
	border-width: 2px;
	background: rgba(255, 255, 255, 0.5);
	float: left;
}

#msg-submit {
	margin-left: 32%;
	font-size:1em;
	padding-top: 5px;
	border: none;
	/*border: black solid;
	border-radius: 20%;
	border-width: 2px;*/
	background-color: Transparent;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    outline: none;
}

#favBtn {
	display: none;
	margin-top: 10px;
	margin-left: 38%;
	border: black dashed 1px;
	border-radius: 5%;
	border-width: 2px;
	background-color: Transparent;
    color: black;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    outline: none;
}

#favBtn:hover {
	border: black solid 2px;
	/*color: rgba(255,255,255,0.7);
	border-color: rgba(255,255,255,0.7);*/
}

#updateCount, #clickGuide {
	position: relative;
	left: 5px;
	text-align: center;
	font-size:1em;
}

#back-to-page {
	text-decoration: none;
	border: none;	
	outline:none;
	background:none;
	position: relative;
	left: 90%;
	top: 10px;
	height: 5%;
	text-align: center;
	font-size:1em;
	cursor: pointer;
}

.infoPages {
	position: fixed;
	top: 2%;
	left: 3%;
	text-decoration: none;
	-khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

#aboutPage, .favPage {
	color: gray;
	opacity: 0.5;
}

#aboutPage:hover, .favPage:hover { 
	color:  #3385ff; 
	opacity: 1;
}

/***** below is for typing effect *****/

#introGuide {
  color: black; 
  font-family: "Muli", helvetica;
  font-size: 1em;
  margin: 5% 26%;
}

#introGuide #p1 {
	background:none;
	opacity:0.7;
	white-space:nowrap;
    overflow:hidden;
    border-right: 2px solid black;
    -webkit-animation: typing 2s steps(26, end), 
                        blink-caret 1s step-end 2s;
    -moz-animation: typing 2s steps(26, end), 
                        blink-caret 1s step-end 2s;
    -webkit-animation-fill-mode:both;
}

#introGuide #p2 {
	background:none;
	opacity:0.7;
	white-space:nowrap;
    overflow:hidden;
    border-right: 2px solid black;
     -webkit-animation-delay:2.5s;
    -webkit-animation-fill-mode:both;
    -webkit-animation: typing 2s steps(26, end), 
                        blink-caret 1s step-end 2s;
    -moz-animation: typing 2s steps(26, end), 
                        blink-caret 1s step-end 2s;
    -webkit-animation-delay:2.5s;
    -webkit-animation-fill-mode:both;
}

#introGuide #p3 {
	background:none;
	opacity:0.7;
	white-space:nowrap;
    overflow:hidden;
    border-right: 2px solid black;
    -webkit-animation: typing 2s steps(26, end), 
                        blink-caret 1s step-end infinite;
    -webkit-animation-delay:5s;
    -webkit-animation-fill-mode:both;
    -moz-animation: typing 2s steps(26, end), 
                        blink-caret 1s step-end infinite;
    -moz-animation-delay:5s;
    -moz-animation-fill-mode:both;
}

@-webkit-keyframes typing {
    from { width: 0; }
    to { width:700px; }
}

@-moz-keyframes typing {
    from { width: 0; }
    to { width:700px; }
}

@-webkit-keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: black }
}

@-moz-keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: black }
