
html, body, canvas {
    border: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family: "Muli", helvetica;
    background-color: rgb(230, 240, 255);
/*    overflow:hidden;*/
}

#initBtn {
	position:absolute;
	align-content: center;
	left:48%;
	top:35%;
	outline:none;
	background-color: rgb(230, 240, 255);
	color: white;
	border: solid;
	border-color:#3385ff;
	border-radius:20%;
	border-style: dashed;
	width:5%;
	padding:4px 3px;
	font-size: 1em;
	font-family: helvetica;
	cursor:pointer;
}

#initBtn:hover {
	border-color:#3385ff;
	border-radius:20%;
	border-style: solid;
}

#selectArea {
	position:absolute;
	align-content: center;
	left:45%;
	top:30%;
    padding: 20px 15px 15px 15px;
    border: solid;
	border-color:#3385ff;
	border-radius:20%;
	border-style: dashed;
    outline: none;

    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

/*#selectionGuide {
	position: relative;
	left: -20px;
	color: rgb(128, 128, 128);
}

#clickGuide {
	position: relative;
	left: -37px;
	color: rgb(128, 128, 128);
}*/

a {
	text-decoration: none;
	margin: 10px;
}

.disabled {
	pointer-events: none !important;
}

a, a:focus{
    outline: 0 !important;
    border:0 none !important;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: rgb(128, 128, 128);
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: rgb(128, 128, 128);
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: rgb(128, 128, 128);
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: rgb(128, 128, 128);
}

#msgArea {
	position: absolute;
	align-content: center;
	left: 25%;
	top: 2%;
	width: 50%;
	height: 95%;
	border-style: solid;
	border-color: rgb(230, 240, 255);
	border-radius: 5%;
	background-color: none;
	font-family: "Muli", helvetica;
}

img, a {
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    border: 0;
    outline: none;
}

#img-display {
	align-self: center;
	position: relative;
	left: 15%;
	top: 5%;  
	width:90%;
/*	height: 100%;*/
	max-width: 500px;
	max-height: 600px;
}

@media (max-width: 1400px) {
	#img-display {
		left: 10%;
	}
}

#msg-content {
	margin-top: 40px;
	margin-bottom: 5px;	
	margin-left: 19%;	
	width: 60%;
	height: 1.2em;
	font-size:1em;
	text-align: center;
	border: white solid;
	border-radius: 5%;
	border-width: 2px;
	background: rgba(255, 255, 255, 0.5);
	font-family: "Muli", helvetica;
}

#msg-content2 {
	margin: 5px 40px;
	margin-left: 19%;	
	width: 60%;
	height: 1.2em;
	font-size:1em;
	text-align: center;
	border: white solid;
	border-radius: 5%;
	border-width: 2px;
	background: rgba(255, 255, 255, 0.5);
	font-family: "Muli", helvetica;
}

#username {
	position: relative;
	left: 30%;
	top: 5px;
	height: 1.2em;
	text-align: center;
	font-size:1em;
	font-family: "Muli", helvetica;
	border: black solid;
	border-radius: 5%;
	border-width: 2px;
	background: rgba(255, 255, 255, 0.5);
	float: left;
}

#msg-submit {
	margin-left: 32%;
	font-size:1em;
	padding-top: 5px;
	border: none;
	/*border: black solid;
	border-radius: 20%;
	border-width: 2px;*/
	background-color: Transparent;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    outline: none;
}

#favBtn {
	margin-left: 1.5%;
	padding-top: 5px;
	border: none;
	background-color: Transparent;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    outline: none;
}

#updateCount, #clickGuide {
	position: relative;
	left: 5px;
	text-align: center;
	font-size:1em;
}

#back-to-page {
	text-decoration: none;
	border: none;	
	outline:none;
	background:none;
	position: relative;
	left: 90%;
	top: 10px;
	height: 5%;
	text-align: center;
	font-size:1em;
	cursor: pointer;
}

.infoPages {
	position: fixed;
	top: 2%;
	left: 3%;
	text-decoration: none;
	-khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

#aboutPage, .favPage {
	color: gray;
	opacity: 0.5;
}

#aboutPage:hover, .favPage:hover { 
	color:  #3385ff; 
	opacity: 1;
}

/***** below is for fav.html *****/

/*#demoArea {
	margin: 10px;
}

.imgArea {
	float:left;
	position:relative;
	left: 10%;
	top: 5%;
	width: 40%;
	height: 30%;
}
*/

.author {
	display: none;
	position: absolute;
	top: 25%;
   	left: 30%;
	font-size: 1em;
	text-align: center;
}
.caption {
	display: none;
}

.gallery {
  width: 1270px;
  margin: 4% 5.5%;
  padding: 5px;
  background: #fff;
  box-shadow: 0 1px 2px rgba(0,0,0,.3);
}

.gallery > div {
  position: relative;
  float: left;
  padding: 5px;
}

.gallery > div > img {
  display: block;
  margin-left: 5%;
  width: 300px;
  transition: .1s transform;
  transform: translateZ(0); /* hack */

  -webkit-filter: grayscale(80%); /* Safari 6.0 - 9.0 */
  filter: grayscale(80%);
}

.gallery > div:hover {
  z-index: 1;
}

.gallery > div:hover > img {
  transform: scale(1.7,1.7);
  transition: .3s transform;
  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);

}

.cf:before, .cf:after {
  display: table;
  content: "";
  line-height: 0;
}

.cf:after {
  clear: both;
}

h2{
  margin: 60px 0;
  font-size: 30px;
  font-weight: 300;
  text-align: center;
}
